@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@500&display=swap");

/* body {
  background: linear-gradient(to top, #000014, #0c0c5c);
  background-attachment: fixed;
  font-family: "Urbanist", sans-serif;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
